@*@model Vidly.Models.Movie


        <tr>
            <td>
                @Html.ActionLink(Model.Name, "Edit", new { Id = Model.Id })
            </td>
            <td>
                <p>@Model.Genre.Name</p>
            </td>
        </tr>*@
