@model IEnumerable<Vidly.Models.Movie>
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*JSModel and Controller*@
<script src="~/Scripts/Model/MovieModel.js"></script>
<script src="~/Scripts/Controller/MovieController.js"></script>


<h2>Movies</h2>

@Html.ActionLink("New Movie", "New", "Movies", new { @class = "btn btn-primary" })

<br />

<div class="panel panel-default">
    <div class="panel-body">
        @if (Model.Count() == 0)
        {
            <p>We don't have any customers yet</p>
        }

        @if (Model.Count() > 0)
{
    <table id="movies" class="table table-striped table-hover ">
        <thead>
            <tr>
                <th>Movie</th>
                <th>Genre</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @*Only make the table skeleton for dataTables*@

            @*@foreach (var item in Model)
            {
                @Html.Partial("_MoviesList", item)
            }*@
        </tbody>


    </table>
}




    </div>
</div>