@model IEnumerable<Vidly.Models.Customer>
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*JS Model and Controller*@
<script src="~/Scripts/Model/CustomerModel.js"></script>
<script src="~/Scripts/Controller/CustomerController.js"></script>


<h2>Customers</h2>

<div class="panel panel-default">
    <div class="panel-body">

        @if (Model.Count() == 0)
        {
            <p>We don't have any customers yet</p>
        }

        @if (Model.Count() > 0) { 
        <table id="customers" class="table table-striped table-hover ">
            <thead>
                <tr>
                    <th>Customer</th>
                    <th>Discount Rate</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @*Only make the table skeleton for dataTables*@

                @*@foreach (var item in Model)
                {

                    @Html.Partial("_CustomerList", item);
                }*@
            </tbody>
        </table> 
        }
</div>
</div>



@*for JQuery*@
@Html.Hidden("hfGetSelectedProfileIDAccounts", Url.Action("GetSeletedProfileIDAcounts", "ProfileSearch"))